---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Header from '../components/Header.astro';
import SeeLocations from '../components/SeeLocations.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Designo Agency Website Challenge.'>
  <!-- The Haeder -->
  <Header />
  <!-- The Main Section & Background Patterns  -->
  <main>
    <section class=''>
      <h1 class=''>Contact us</h1>
      <p class=''>
        Ready to take it to the next level? Let&#39;s talk about your project or
        idea and find out how we can help your business grow. If you are looking
        for unique digital experiences that&#39;s relatable to your users, drop
        us a line.
      </p>
      <form action=''>
        <div class=''>
          <label for='name' aria-label='name'></label>
          <input type='text' name='name' id='name' placeholder='Name' />
          <label for='email' aria-label='email'></label>
          <input
            type='email'
            name='email'
            id='emai'
            placeholder='Email address'
          />
          <label for='phone' aria-label='phone'></label>
          <input type='text' name='phone' id='phone' placeholder='Phone' />
          <label for='message' aria-label='message'></label>
          <textarea name='message' id='message' placeholder='Your message'
          ></textarea>
          <button type='submit' class=''>Submit</button>
        </div>
      </form>
    </section>
    <!-- See Locations -->
    <SeeLocations />
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>
