---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Header from '../components/Header.astro';
import AboutProject from '../components/AboutProject.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Designo Agency Website Challenge.'>
  <!-- The Haeder -->
  <Header />
  <!-- The Main Section & Background Patterns  -->
  <main class=''>
    <!-- App Design -->
    <section
      class='relative flex h-[20rem] flex-col items-center justify-center gap-6 overflow-hidden bg-[#E7816B] px-6 text-center md:ml-[2.44rem] md:mr-10 md:h-[15.75rem] md:w-[43.0625rem] md:rounded-[0.9375rem] lg:mx-[10.31rem] lg:h-[15.75rem] lg:w-[69.4375rem]'
    >
      <img
        src='/assets/shared/mobile/bg-pattern-hero-about-mobile.svg'
        alt=''
        class='absolute right-0 top-0 max-w-[56rem] md:hidden'
      />
      <img
        src='/assets/shared/desktop/bg-pattern-intro-web.svg'
        alt=''
        class='absolute right-0 top-[-97px] hidden md:flex lg:top-[-171px]'
      />
      <div class='relative z-40 flex flex-col gap-6'>
        <h1
          class='text-5xl text-[2rem] font-medium leading-9 text-white md:leading-[3rem]'
        >
          Graphic design
        </h1>
        <p
          class='w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-white md:w-[22.4375rem] md:text-base md:leading-relaxed'
        >
          We deliver eye-catching branding materials that are tailored to meet
          your business objectives.
        </p>
      </div>
    </section>
    <!-- Graphic Design Projects Section -->
    <section
      class='mx-6 my-24 grid grid-cols-1 gap-10 md:ml-[2.44rem] md:mr-10 md:mt-[7.5rem] md:gap-8 lg:mx-[10.31rem] lg:my-40 lg:grid-cols-3 lg:gap-x-[1.88rem] lg:gap-y-8'
    >
      <!-- Tim Brown -->
      <section class='flex flex-col md:flex-row lg:flex-col'>
        <div class=''>
          <img
            src='/assets/graphic-design/desktop/image-change.jpg'
            alt=''
            class='w-[20.44rem] rounded-t-[0.9375rem] md:md:w-[21.19rem] md:rounded-l-[0.9375rem] lg:w-[21.88rem] lg:rounded-t-[0.9375rem]'
          />
        </div>
        <div
          class='group flex h-40 w-[20.44rem] cursor-pointer flex-col items-center justify-center rounded-b-[0.9375rem] rounded-r-[0.9375rem] bg-[#FDF3F0] text-center transition-colors duration-300 ease-in hover:bg-[#E7816B] md:h-[19.37rem] md:md:w-[21.19rem] lg:h-40 lg:w-[21.88rem] lg:rounded-b-[0.9375rem]'
        >
          <h2
            class='text-xl font-medium uppercase leading-relaxed tracking-[0.3125rem] text-[#E7816B] group-hover:text-white'
          >
            Tim Brown
          </h2>
          <p
            class='w-[16.70038rem] text-base font-normal leading-relaxed text-[#333136] group-hover:text-white md:w-[17.3125rem] lg:w-[17.875rem]'
          >
            A book cover designed for Tim Brown&#39;s new release,
            &#8249;Change&#8250;
          </p>
        </div>
      </section>
      <!-- Boxed water -->
      <section class='flex flex-col md:flex-row lg:flex-col'>
        <div class=''>
          <img
            src='/assets/graphic-design/desktop/image-boxed-water.jpg'
            alt=''
            class='w-[20.44rem] rounded-t-[0.9375rem] md:md:w-[21.19rem] md:rounded-l-[0.9375rem] lg:w-[21.88rem] lg:rounded-t-[0.9375rem]'
          />
        </div>
        <div
          class='group flex h-40 w-[20.44rem] cursor-pointer flex-col items-center justify-center rounded-b-[0.9375rem] rounded-r-[0.9375rem] bg-[#FDF3F0] text-center transition-colors duration-300 ease-in hover:bg-[#E7816B] md:h-[19.37rem] md:md:w-[21.19rem] lg:h-40 lg:w-[21.88rem] lg:rounded-b-[0.9375rem]'
        >
          <h2
            class='text-xl font-medium uppercase leading-relaxed tracking-[0.3125rem] text-[#E7816B] group-hover:text-white'
          >
            Boxed water
          </h2>
          <p
            class='w-[16.70038rem] text-base font-normal leading-relaxed text-[#333136] group-hover:text-white md:w-[17.3125rem] lg:w-[17.875rem]'
          >
            A simple packaging concept made for Boxed Water
          </p>
        </div>
      </section>
      <!--   Science! -->
      <section class='flex flex-col md:flex-row lg:flex-col'>
        <div class=''>
          <img
            src='/assets/graphic-design/desktop/image-science.jpg'
            alt=''
            class='w-[20.44rem] rounded-t-[0.9375rem] md:md:w-[21.19rem] md:rounded-l-[0.9375rem] lg:w-[21.88rem] lg:rounded-t-[0.9375rem]'
          />
        </div>
        <div
          class='group flex h-40 w-[20.44rem] cursor-pointer flex-col items-center justify-center rounded-b-[0.9375rem] rounded-r-[0.9375rem] bg-[#FDF3F0] text-center transition-colors duration-300 ease-in hover:bg-[#E7816B] md:h-[19.37rem] md:md:w-[21.19rem] lg:h-40 lg:w-[21.88rem] lg:rounded-b-[0.9375rem]'
        >
          <h2
            class='text-xl font-medium uppercase leading-relaxed tracking-[0.3125rem] text-[#E7816B] group-hover:text-white'
          >
            Science!
          </h2>
          <p
            class='w-[16.70038rem] text-base font-normal leading-relaxed text-[#333136] group-hover:text-white md:w-[17.3125rem] lg:w-[17.875rem]'
          >
            A poster made in collaboration with the Federal Art Project
          </p>
        </div>
      </section>
    </section>
    <!-- About Section -->
    <section
      class='mx-6 mb-24 grid grid-cols-1 gap-6 md:mb-[7.5rem] md:ml-[2.44rem] md:mr-10 lg:mx-[10.31rem] lg:mb-40 lg:grid-cols-2 lg:gap-[1.87rem]'
    >
      <!-- App Design -->
      <div
        class='relative cursor-pointer transition-all duration-300 ease-in hover:after:absolute hover:after:top-0 hover:after:z-40 hover:after:h-[100%] hover:after:w-[100%] hover:after:rounded-[0.9375rem] hover:after:bg-[#E7816B]/70'
      >
        <picture>
          <source
            media='(min-width: 1440px)'
            srcset='/assets/home/desktop/image-app-design.jpg'
          />
          <source
            media='(min-width: 768px)'
            srcset='/assets/home/tablet/image-app-design.jpg'
          />
          <img
            src='/assets/home/mobile/image-app-design.jpg'
            alt=''
            class='rounded-[0.9375rem]'
          />
        </picture>
        <div
          class='absolute top-0 z-50 flex h-[100%] w-[100%] flex-col items-center justify-center gap-5 rounded-[0.9375rem] text-center md:gap-6'
        >
          <h2
            class='text-9 text-[1.75rem] font-medium tracking-[0.0875rem] text-white md:text-[2.5rem] md:leading-[3rem] md:tracking-[0.125rem]'
          >
            App Design
          </h2>
          <a
            href='/app-design'
            class='flex items-center gap-4 text-[0.9375rem] font-medium uppercase leading-normal tracking-[0.3125rem] text-white'
            >View Projects
            <img
              src='/assets/shared/desktop/icon-right-arrow.svg'
              alt='right arrow'
            />
          </a>
        </div>
      </div>
      <!-- Web Design -->
      <div
        class='relative cursor-pointer transition-all duration-300 ease-in hover:after:absolute hover:after:top-0 hover:after:z-40 hover:after:h-[100%] hover:after:w-[100%] hover:after:rounded-[0.9375rem] hover:after:bg-[#E7816B]/70'
      >
        <picture>
          <source
            media='(min-width: 1440px)'
            srcset='/assets/home/desktop/image-web-design-small.jpg'
          />
          <source
            media='(min-width: 768px)'
            srcset='/assets/home/tablet/image-web-design.jpg'
          />
          <img
            src='/assets/home/mobile/image-web-design.jpg'
            alt=''
            class='rounded-[0.9375rem]'
          />
        </picture>
        <div
          class='absolute top-0 z-50 flex h-[100%] w-[100%] flex-col items-center justify-center gap-5 rounded-[0.9375rem] text-center md:gap-6'
        >
          <h2
            class='text-9 text-[1.75rem] font-medium tracking-[0.0875rem] text-white md:text-[2.5rem] md:leading-[3rem] md:tracking-[0.125rem]'
          >
            Web Design
          </h2>
          <a
            href='/web-design'
            class='flex items-center gap-4 text-[0.9375rem] font-medium uppercase leading-normal tracking-[0.3125rem] text-white'
            >View Projects
            <img
              src='/assets/shared/desktop/icon-right-arrow.svg'
              alt='right arrow'
            />
          </a>
        </div>
      </div>
    </section>
    <!-- About Your Project -->
    <AboutProject />
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>
