---
import '@/styles/globals.css';
---

<section class=''>
  <h3 class=''>Canada</h3>
  <a href='' class=''>See location</a>
  <h3 class=''>Australia</h3>
  <a href='' class=''>See location</a>
  <h3 class=''>United Kingdom</h3>
  <a href='' class=''>See location</a>
</section>
